<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="run.nya.petbbs.mapper.SysCommentMapper">
    <resultMap id="commentVO" type="run.nya.petbbs.model.vo.CommentVO">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="username" property="username"/>
        <result column="alias" property="alias"/>
        <result column="avatar" property="avatar"/>
    </resultMap>

    <resultMap id="quoteVO" type="run.nya.petbbs.model.vo.QuoteVO">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="username" property="username"/>
        <result column="alias" property="alias"/>
    </resultMap>

    <select id="selectListAndPage" resultMap="commentVO">
        SELECT c.id,
               c.content,
               c.user_id,
               c.create_time,
               u.username,
               u.alias,
               u.avatar
        FROM sys_comment c
        LEFT JOIN sys_user u
        ON c.user_id = u.id
        WHERE c.post_id = #{postId}
    </select>
    
    <select id="selectQuotesByIds" resultMap="quoteVO">
        SELECT c.id,
               c.content,
               c.user_id,
               c.create_time,
               u.username,
               u.alias
        FROM sys_comment c
        LEFT JOIN sys_user u
        ON c.user_id = u.id
        WHERE c.id IN #{commentIds}
    </select>
</mapper>