<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="run.nya.petbbs.mapper.SysPostMapper">
    <resultMap id="postVO" type="run.nya.petbbs.model.vo.PostVO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="user_id" property="userId"/>
        <result column="comments" property="comments"/>
        <result column="view" property="view"/>
        <result column="collects" property="collects"/>
        <result column="top" property="top"/>
        <result column="essence" property="essence"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="username" property="username"/>
        <result column="alias" property="alias"/>
        <result column="avatar" property="avatar"/>
    </resultMap>

    <select id="selectListAndPage" resultMap="postVO">
        SELECT p.id,
               p.title,
               p.user_id,
               p.comments,
               p.view,
               p.collects,
               p.top,
               p.essence,
               p.create_time,
               p.modify_time,
               u.username,
               u.alias,
               u.avatar
        FROM sys_post p
        LEFT JOIN sys_user u
        ON p.user_id = u.id
        <where>
            <if test="tab == 'essence'">
                p.essence = true
            </if>
            <if test="tab == 'noanswer'">
                p.comments = 0
            </if>
            <if test="tab == 'hot'">
                date(p.create_time) &lt;= date_add(curdate(), interval 1 day)
                AND date(p.create_time) &gt;= date_sub(curdate(), interval 3 day)
            </if>
            <if test="tab == 'top'">
                p.top = true
            </if>
            <if test="sectionId != null">
                ANd p.section_id = #{sectionId}
            </if>
            <if test="tagId != null">
                AND p.id IN (SELECT post_id FROM sys_post_tag WHERE tag_id = #{tagId})
            </if>
        </where>
        <if test="tab != 'hot'">
            ORDER BY p.top DESC, p.create_time DESC
        </if>
        <if test="tab == 'hot'">
            ORDER BY p.top DESC, p.comments DESC, p.view DESC, p.create_time DESC
        </if>
    </select>

    <select id="selectBySection" resultMap="postVO">
        SELECT t.id,
               t.title,
               t.user_id,
               t.comments,
               t.view,
               t.collects,
               t.top,
               t.essence,
               t.create_time,
               t.modify_time,
               u.username,
               u.alias,
               u.avatar
        FROM sys_post t
        LEFT JOIN sys_user u
        ON t.user_id = u.id
        WHERE t.section_id = #{section.id}
        ORDER BY t.view DESC, t.create_time DESC
    </select>

    <select id="selectRecommend" resultType="run.nya.petbbs.model.entity.SysPost">
        SELECT *
        FROM sys_post t
        WHERE t.id != #{id}
        ORDER BY rand(), t.view
        limit 10
    </select>

    <select id="randomPost" resultType="run.nya.petbbs.model.entity.SysPost">
        SELECT *
        FROM sys_post t
        ORDER BY rand(), t.view
        limit 1
    </select>

    <select id="searchByKey" resultMap="postVO">
        SELECT t.id,
               t.title,
               t.user_id,
               t.comments,
               t.view,
               t.collects,
               t.top,
               t.essence,
               t.create_time,
               t.modify_time,
               u.username,
               u.alias,
               u.avatar
        FROM sys_post t
        LEFT JOIN sys_user u
        ON t.user_id = u.id
        <where>
            <if test="keyword!=null">
                and t.title like CONCAT('%','${keyword}')
                or t.title like CONCAT('${keyword}','%')
                or t.title like CONCAT('%','${keyword}','%')
                or t.title = #{keyword}
            </if>
        </where>
        ORDER BY t.view DESC, t.create_time DESC
    </select>
</mapper>
